# SPDX-License-Identifier: Apache-2.0

config PINCTRL_RK3506
	bool "Rockchip RK3506 pin controller"
	default y
	depends on PINCTRL
	depends on SOC_RK3506
	depends on DT_HAS_ROCKCHIP_RK3506_PINCTRL_ENABLED
	help
	  Enable GPIO IOC and RMIO routing for RK3506 peripheral pins.
