RK_AMP=y
RK_AMP_CFG="amp-zephyr.cfg"
RK_AMP_FIT_ITS="amp_linux_zephyr.its"
RK_ROOTFS=y
# RK_NETWORK_CHECK is not set
RK_BUILDROOT_BASE_CFG="ok3506_nand"
RK_ROOTFS_UBI=y
RK_ROOTFS_INSTALL_MODULES=y
# RK_WIFIBT is not set
# RK_ROOTFS_LOG_GUARDIAN is not set
RK_UBOOT_CFG="OK3506-S"
RK_UBOOT_CFG_FRAGMENTS="rk-amp"
RK_UBOOT_INI="RK3506BMINIALL.ini"
RK_UBOOT_SPL=y
RK_KERNEL_PREFERRED="6.1"
RK_KERNEL_ARM32=y
RK_KERNEL_CFG="OK3506-S_linux_defconfig"
RK_KERNEL_CFG_FRAGMENTS="rockchip_amp.config"
RK_KERNEL_DTS_NAME="OK3506-S-MINI_amp_nand"
RK_BOOT_COMPRESSED=y
RK_RECOVERY_FIT_ITS_NAME="zboot4recovery.its"
RK_FLASH_SIZE=2048
RK_EXTRA_PARTITION_1_FSTYPE="ubi"
RK_EXTRA_PARTITION_1_SRC="rk3506_oem"
RK_EXTRA_PARTITION_2_FSTYPE="ubi"
RK_PARAMETER="parameter-mini-amp-nand.txt"
RK_USE_FIT_IMG=y
