/*
 * Copyright (c) 2026
 * SPDX-License-Identifier: Apache-2.0
 *
 * GPIO0_A2 = gpio0 pin 2. Only this pin is assigned to the application.
 */

#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	power_cycle_gpio: power-cycle-gpio {
		compatible = "rk3506,power-cycle-gpio";
		power-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	};
};

&gpio0 {
	status = "okay";
	gpio-reserved-ranges = <0 2>, <3 22>;
	rockchip,irq-group = <2>;
	pinctrl-0 = <&key_gpio0_a2>;
	pinctrl-names = "default";
};

&pinctrl {
	key_gpio0_a2: key-gpio0-a2 {
		pinmux = <RK3506_PINCTRL(RK3506_PINCTRL_BANK_A, 2, 0, 0)>;
		drive-push-pull;
	};
};
